.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* position: fixed; */
    position: absolute;
    top: 100px;
    left: 100px;
    width: 1000px;
    height: 600px;
    overflow: auto;
    border: 1px solid #d4d4d4;
    padding: 20px;
    padding-top: 50px;
    z-index: 99;
    background-color: #fff;
}

.sidebar::-webkit-scrollbar {
    
}
.sidebar::-webkit-scrollbar-track-piece {
}


.Sidebar___content {
    display: flex;
    text-align: center;
}

.Sidebar___content img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    transition: .7s;
}

.Sidebar___content img:hover {
    transform: scaleY(1.1);
}

.Sidebar__img {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

hr{
    border: 1px solid #d4d4d4;
    width: 1000px !important;
}

.Sidebar___text h6 {
    overflow: hidden;
    font-weight: normal;
    width: 900px;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    padding-left: 50px;
}

.Sidebar___OrderBuy {
    margin: 50px;
    width: 400px;
    height: 30px;
    border: none;
    background: #b9b7b7;
}